:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  --blue: hsl(154, 59%, 51%);

  --dark-blue: hsl(249, 10%, 26%);
  --gray-blue: hsl(246, 25%, 77%);
}

body {
  height: 100vh;
  font-family: "Poppins";
  background-color: var(--red);
}

main {
  height: 550px;
  width: 900px;
}
