:root {
  --red: hsl(0, 100%, 74%);
  --darker-red: #dd6767;
  --green: #37cc8a;
  --dark-green: #34b87e;

  --blue: hsl(154, 59%, 51%);

  --dark-blue: hsl(249, 10%, 26%);
  --gray-blue: hsl(246, 25%, 77%);
  --purple: #5d54a3;
}

body {
  height: 100vh;
  font-family: "Poppins";
  background-color: var(--red);
  background-image: url(img/bg-intro-desktop.png);
}

main {
  height: 550px;
  width: 900px;
}

section.intro {
  color: #fff;
}

h1 {
  font-weight: 600;
  margin-bottom: 25px;
}

.intro__text {
  font-size: 12px;
}

.form {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  color: var(--dark-blue);
}

button {
  border: none;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}

button.claim {
  background-color: var(--green);
  box-shadow: 0 3px var(--dark-green);
}

button.try {
  background-color: var(--purple);
  box-shadow: 0 3px var(--darker-red);
  font-size: 0.8em;
}

button > span {
  font-weight: 400;
}

p.terms {
  font-size: 9px;
  text-align: center;
  color: var(--gray-blue);
}

p a {
  color: var(--red);
  text-decoration: none;
}
