<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="component-3-style.css" />
    <title>3-column preview card component</title>
  </head>
  <body>
    <section class="column1">
      <img src="" alt="" class="image image--1" />
      <h2 class="title title--1">Sedans</h2>
      <p class="text text--1">
        Choose a sedan for its affordability and excellent fuel economy. Ideal
        for cruising in the city or on your next road trip.
      </p>
      <button class="primary primary--1">Learn More</button>
    </section>
    <section class="column2">
      <img src="" alt="" class="image image--2" />
      <h2 class="title title--2">SUVs</h2>
      <p class="text text--2">
        Take an SUV for its spacious interior, power, and versatility. Perfect
        for your next family vacation and off-road adventures.
      </p>
      <button class="primary primary--2">Learn More</button>
    </section>
    <section class="column3">
      <img src="" alt="" class="image image--3" />
      <h2 class="title title--3">Luxury</h2>
      <p class="text text--3">
        Cruise in the best car brands without the bloated prices. Enjoy the
        enhanced comfort of a luxury rental and arrive in style.
      </p>
      <button class="primary primary--3">Learn More</button>
    </section>
  </body>
</html>
