<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="component-2-style.css" />
    <title>Single price grid</title>
  </head>
  <body>
    <section class="card">
      <div class="header">
        <h1 class="title">Join our community</h1>
        <h2 class="subtitle">30-day, hassle-free money back guarantee</h2>
        <p class="header__text">
          Gain access to our full library of tutorials along with expert code
          reviews.<br />
          Perfect for any developers who are serious about honing their skills.
        </p>
      </div>
      <div class="bottom">
        <div class="bottom__card bottom__card--left">
          <h2 class="subtitle--bottom">Monthly Subscription</h2>
          <div class="bottom__price">
            <p class="price">&dollar;29</p>
            <p class="month">per month</p>
          </div>
          <button class="primary">Sign Up</button>
        </div>
        <div class="bottom__card bottom__card--right">
          <h2 class="subtitle--bottom">Why Us</h2>
          <ul class="bottom__list">
            <li class="bottom_list-item">Tutorials by industry experts</li>
            <li class="bottom_list-item">Peer &amp; expert code review</li>
            <li class="bottom_list-item">Coding exercises</li>
            <li class="bottom_list-item">Access to our GitHub repos</li>
            <li class="bottom_list-item">Community forum</li>
            <li class="bottom_list-item">Flashcard decks</li>
            <li class="bottom_list-item">New videos every week</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
