<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="component-2-style.css" />
    <title>Single price grid</title>
  </head>
  <body class="d-flex justify-content-center align-items-center">
    <section class="card shadowed">
      <div class="header d-flex flex-column justify-content-between">
        <h1 class="title">Join our community</h1>
        <h2 class="subtitle subtitle--top">
          30-day, hassle-free money back guarantee
        </h2>
        <p class="header__text">
          Gain access to our full library of tutorials along with expert code
          reviews.<br />
          Perfect for any developers who are serious about honing their skills.
        </p>
      </div>
      <div class="bottom row m-0 p-0">
        <div class="bottom__card bottom__card--left col-6">
          <h2 class="subtitle subtitle--bottom">Monthly Subscription</h2>
          <div class="bottom__price d-flex align-items-center">
            <p class="price">&dollar;29</p>
            <p class="month">per month</p>
          </div>
          <p class="bottom__text">Full access for less than &dollar;1 a day</p>
          <button class="primary shadowed">Sign Up</button>
        </div>
        <div class="bottom__card bottom__card--right col-6">
          <h2 class="subtitle subtitle--bottom">Why Us</h2>
          <ul class="bottom__list px-0 py-1">
            <li class="bottom__list-item">Tutorials by industry experts</li>
            <li class="bottom__list-item">Peer &amp; expert code review</li>
            <li class="bottom__list-item">Coding exercises</li>
            <li class="bottom__list-item">Access to our GitHub repos</li>
            <li class="bottom__list-item">Community forum</li>
            <li class="bottom__list-item">Flashcard decks</li>
            <li class="bottom__list-item">New videos every week</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
